<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="<%= Routes.page_path(@conn, :home) %>">Home</a></li>
                <li><a href="<%= Routes.page_path(@conn, :about) %>">Sobre Mim</a></li>
                <li><a href="<%= Routes.page_path(@conn, :index) %>">Posts</a></li>
            </ul>
        </nav>

    </header>
    <main role="main">
        <%= @inner_content %> 
    </main>
</body>
</html>